<?xml version="1.0" ?>
<robot name="moveo_description" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Include xacro Definitions -->
    <xacro:include filename="$(find moveo_description)/urdf/links_joints.xacro"/>
   
    <xacro:property name="path_to_meshes" value="package://moveo_description/meshes" />

      <!-- dummy link -->
    <link name="world">
    </link>
    
    
    <joint name="odom_joint" type="fixed">
         <origin xyz=" 0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
    </joint>
    
    <xacro:m_link_mesh name="base_link"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Base.stl"
        meshfile_collision= "${path_to_meshes}/Base_col.stl"
        mass="0.627"
        origin_xyz_inertia ="0.041976 0 0.039504 "
        ixx="1.182"
        ixy="0"
        ixz="0.182631"
        iyy= "3.819457"
        iyz= "0"
        izz="4.533716"
    />



  
    <xacro:m_link_mesh name="Link_1"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/Link_1.stl"
    meshfile_collision= "${path_to_meshes}/Link_1_col.stl"
    origin_xyz_inertia ="0.000106 -0.000266 0.067055"
    mass="2.795"
    ixx="5.325479"
    ixy="0.004742"
    ixz="0.0000846"
    iyy= "23.922827"
    iyz= "0.0016655"
    izz="21.671672"
    />
 
    <xacro:m_joint name= "Joint_1"
        type="revolute"
        origin_xyz= "0 0 0.067"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1"
        parent="base_link"
        child="Link_1"
        limit_l="-2"
        limit_u="2"
        limit_v="5"
        limit_e="5"
    />

       
    
    <xacro:m_link_mesh name="Link_2"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/Link_2.stl"
    meshfile_collision= "${path_to_meshes}/Link_2_col.stl"
    origin_xyz_inertia ="-0.007195 0.000621 0.078409"
    mass="1.201"
    ixx="7.445752"
    ixy="-0.026909"
    ixz="0.221379"
    iyy= "8.027708"
    iyz= "-0.055543"
    izz="1.9065"
    />
    
      <xacro:m_joint name= "Joint_2"
        type="revolute"
        origin_xyz= "0 0 0.1655"
        origin_rpy="0 0 0"
        axis_xyz="1 0 0"
        parent="Link_1"
        child="Link_2"
        limit_l="-2.35619"
        limit_u="2.35619"
        limit_v="5"
        limit_e="5"
    />
 
   <xacro:m_link_mesh name="Link_3"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Link_3.stl"
        meshfile_collision= "${path_to_meshes}/Link_3_col.stl"
        mass="0.633"
         origin_xyz_inertia ="-0.000254 -0.000043  0.054748"
        ixx="0.054748"
        ixy="0.000191"
        ixz="0.000987"
        iyy="1.433576"
        iyz="-0.000789 "
        izz="0.415780"
    />
    
     <xacro:m_joint name= "Joint_3"
        type="revolute"
        origin_xyz= "0 0 0.221124"
        origin_rpy=" 0 0 0"
        axis_xyz="1 0 0"
        parent="Link_2"
        child="Link_3"
        limit_l="-2.35619"
        limit_u="2.35619"
        limit_v="5"
        limit_e="5"
    />
 
       <xacro:m_link_mesh name="Link_4"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Link_4.stl"
        meshfile_collision= "${path_to_meshes}/Link_4_col.stl"
        mass="0.492"
        origin_xyz_inertia ="0.007695  0.001112  0.053727"
        ixx="0.587127"
        ixy="0.011541"
        ixz="0.064079"
        iyy="0.877356"
        iyz="0.004537"
        izz="0.443178"
    />

    <xacro:m_joint name= "Joint_4"
        type="continuous"
        origin_xyz= "0 0 0.1275"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1"
        parent="Link_3"
        child="Link_4"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
    />
   
   
   
     <xacro:m_link_mesh name="Link_5"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Link_5.stl"
        meshfile_collision= "${path_to_meshes}/Link_5_col.stl"
        mass="0.073"
        origin_xyz_inertia ="0.000534   0.001112  0.0003726"
        ixx="0.041526"
        ixy="0"
        ixz="-0.000181"
        iyy="0.039921"
        iyz="0"
        izz="0.034753"
    />

     <xacro:m_joint name= "Joint_5"
        type="revolute"
        origin_xyz= "0 0 0.095"
        origin_rpy="0 0 0"
        axis_xyz="1 0  0"
        parent="Link_4"
        child="Link_5"
        limit_l="-2.35619"
        limit_u="2.35619"
        limit_v="1"
        limit_e="5"
    />
    <xacro:m_link_mesh name="Endeffector_Base"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Base_Endeffektor.stl"
        meshfile_collision= "${path_to_meshes}/Base_Endeffektor.stl"
        mass="0.222"
        origin_xyz_inertia ="-0.000548 0.000367 0.01865"
        ixx="0.0009149"
        ixy="0.00006"
        ixz="0.000065"
        iyy="0.010259"
        iyz="-0.000101"
        izz="0.005846"
    />

     <xacro:m_joint_fixed name= "Endeffector_Link_5_Joint"
        
        origin_xyz= "0 0 0.041"
        origin_rpy="0 0 0"
        
        parent="Link_5"
        child="Endeffector_Base"

    />

        <xacro:m_link_mesh name="Gripper_Servo_Gear"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Servo_Gear.stl"
        meshfile_collision= "${path_to_meshes}/Servo_Gear.stl"
        mass="0.002453"
        origin_xyz_inertia ="-0.000406 0 0.006451"
        ixx="0.469425"
        ixy="0"
        ixz="-0.00957"
        iyy="0.567572"
        iyz="0"
        izz="0.112495"
    />
    
   <xacro:m_joint name= "Gripper_Servo_Gear_Joint"
        type="revolute"
        origin_xyz= "0.014 0 0.024"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Endeffector_Base"
        child="Gripper_Servo_Gear"
        limit_l="0"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
    />

  <xacro:m_link_mesh name="Tip_Gripper_Servo"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Gripper_Right.stl"
        meshfile_collision= "${path_to_meshes}/Gripper_Right.stl"
        mass="0.008"
        origin_xyz_inertia ="-0.005681 0.000349 0.021391"
        ixx="0.000003081"
        ixy="-0.000000006"
        ixz="0.000000535"
        iyy="0.000002997"
        iyz="0.000000033"
        izz="0.000000457"
    />
    
    
    
    <xacro:m_joint name= "Tip_Gripper_Servo_Joint"
        type="continuous"
        origin_xyz= "0 0 0.04"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Gripper_Servo_Gear"
        child="Tip_Gripper_Servo"
        limit_l="0"
        limit_u="1.3"
        limit_v="5"
        limit_e="5"
        passive_joint="passive"
        mimic_joint="Gripper_Servo_Gear_Joint" 
        mimic_multiplier="-1" 
        mimic_offset="0"
            />
            
      <xacro:mimic_joint_plugin_gazebo name_prefix="Tip_Gripper_Servo_Joint"
        parent_joint= "Gripper_Servo_Gear_Joint" mimic_joint="Tip_Gripper_Servo_Joint"
        has_pid="false" multiplier="-1.0" max_effort="10000.0" />   


  <xacro:m_link_mesh name="Gripper_Idol_Gear"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Idol_Gear.stl"
        meshfile_collision= "${path_to_meshes}/Idol_Gear.stl"
        mass="0.002453"
        origin_xyz_inertia ="-0.000406 0 0.006451"
        ixx="0.469425"
        ixy="0"
        ixz="0.00957"
        iyy="0.567572"
        iyz="0"
        izz="0.112495"
    /> 
     
        <xacro:m_joint name= "Gripper_Idol_Gear_Joint"
        type="revolute"
        origin_xyz= "-0.014 0 0.024"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Endeffector_Base"
        child="Gripper_Idol_Gear" 
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
         mimic_joint="Gripper_Servo_Gear_Joint" 
        mimic_multiplier="-1" 
        mimic_offset="0"
        passive_joint="passive"
        
    />
      <xacro:mimic_joint_plugin_gazebo name_prefix="Gripper_Idol_Gear_Joint"
        parent_joint="Gripper_Servo_Gear_Joint" mimic_joint="Gripper_Idol_Gear_Joint"
        has_pid="false" multiplier="-1.0" max_effort="10000.0" />  
        
      <xacro:m_link_mesh name="Tip_Gripper_Idol"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Gripper_Left.stl"
        meshfile_collision= "${path_to_meshes}/Gripper_Left.stl"
        mass="0.008"
        origin_xyz_inertia ="0.005681  0.000349 0.021391"
        ixx="0.003081"
        ixy="0.000006"
        ixz="-0.000535"
        iyy="0.002997"
        iyz="0.000033"
        izz="0.000457"
    />
   

  <xacro:m_joint name= "Tip_Gripper_Idol_Joint"
        type="revolute"
        origin_xyz="0 0 0.04"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Gripper_Idol_Gear"
        child="Tip_Gripper_Idol"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
        mimic_joint="Gripper_Servo_Gear_Joint"
        mimic_multiplier="1"
        mimic_offset="0"
        passive_joint="passive"
    />
   <xacro:mimic_joint_plugin_gazebo name_prefix="Tip_Gripper_Idol_Joint"
    parent_joint="Gripper_Servo_Gear_Joint" mimic_joint="Tip_Gripper_Idol_Joint"
    has_pid="false" multiplier="1.0" max_effort="10000.0" />    
  
   <!-- <xacro:m_link_mesh name="Pivot_Arm_Gripper_Servo"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Pivot_Arm.stl"
        meshfile_collision= "${path_to_meshes}/Pivot_Arm.stl"
        mass="0.001638"
        origin_xyz_inertia ="0.005681  0.000349 0.021391"
        ixx="0.303761"
        ixy="0"
        ixz="0"
        iyy="0.304662"
        iyz="0"
        izz="0.010301"
    />
  
 
  <xacro:m_joint name= "Pivot_Arm_Gripper_Servo_Joint"
        type="revolute"
        origin_xyz="0.007 0 0.044"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Endeffector_Base"
        child="Pivot_Arm_Gripper_Servo"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
        mimic_joint="Gripper_Servo_Gear_Joint"
        mimic_multiplier="1"
        mimic_offset="0"
        passive_joint="passive"
    />
     <xacro:mimic_joint_plugin_gazebo name_prefix="Mimic"
    parent_joint="Gripper_Servo_Gear_Joint" mimic_joint="Pivot_Arm_Gripper_Servo_Joint"
    has_pid="false" multiplier="1.0" max_effort="10000.0" />   
   
     -->
    
      <xacro:m_link_mesh name="Pivot_Arm_Gripper_Idol"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Pivot_Arm.stl"
        meshfile_collision= "${path_to_meshes}/Pivot_Arm.stl"
        mass="0.001638"
        origin_xyz_inertia ="0.005681  0.000349 0.021391"
        ixx="0.303761"
        ixy="0"
        ixz="0"
        iyy="0.304662"
        iyz="0"
        izz="0.010301"
    />
    
    
    <xacro:m_joint name= "Pivot_Arm_Gripper_Idol_Joint"
        type="revolute"
        origin_xyz="-0.007 0 0.044"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0"
        parent="Endeffector_Base"
        child="Pivot_Arm_Gripper_Idol"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="5"
        limit_e="5"
        mimic_joint="Gripper_Servo_Gear_Joint"
        mimic_multiplier="-1"
        mimic_offset="0"
        passive_joint="passive"
    />     
     <xacro:mimic_joint_plugin_gazebo name_prefix="Mimic"
    parent_joint="Gripper_Servo_Gear_Joint" mimic_joint="Pivot_Arm_Gripper_Idol_Joint"
    has_pid="false" multiplier="-1.0" max_effort="10000.0" />   
  
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
       <!-- <plugin name="MimicJointPlugin" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so"/>  -->

    </gazebo>   
</robot>